.about {
  width: 100%;
  min-height: 85vh;
  background-color: #f5efed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  gap: 1rem;
}

.aboutMainCon {
  width: 90%;
  height: max-content;

  border: red solid 2px;
}

.imgGalleryCon {
  width: 90%;
  height: max-content;
  border: red solid 2px;
}
