.about {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2%;
  gap: 2rem;
}

.aboutMainCon {
  width: 65%;            
  min-height: 98vh;
  padding: 1rem;
}

.imgGalleryCon {
  width: 30%;
  min-height: 90vh;
  border: red solid 2px;
}
