.contact {
  width: 100%;
  min-height: 85vh;
  background-color: #f5efed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.contact h1 {
  color: #3993dd;
  font-size: 64px;
  font-weight: bold;
}
.contactBlurbCon {
  width: 90%;
  height: max-content;

  border: red solid 2px;
}

.left-side img {
  width: 30%;
  height: auto;
  border-radius: 8px;
}