

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  
  display: flex;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: black;
  color: white;
  justify-content: center;
  font-family: "Belanosima", sans-serif;
}

