.christmas {
  width: 100%;
  min-height: 85vh;
  background-color: #f5efed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  gap: 1rem;
}
.christmas h1 {
  color: #3993dd;
  font-size: 64px;
  font-weight: bold;
}
.mainCon {
  width: 90%;
  height: max-content;
  border: red solid 2px;
}

/*
.christmasMenuCon {
  width: 90%;
  height: max-content;
  border: red solid 2px;
}
*/

.column {
  width: 49%;
}

.columnHolder{
  display: flex;
}

.distribute {
  justify-content: space-between;
}

.columnMenu {
  width: 10em;
  padding-right: 1em;
  margin-right: 1em;
}

.dayToTimeTable {
  border-collapse: collapse;
  border-style: hidden;
}

.dayToTimeTable > caption {
  text-align: center;
  border-bottom: 2px solid #3993dd;
}
.dayToTimeTable > tr > td {
  text-align: center;
  padding: 0em 1em;
  border: 1px solid #3993dd;
}

.border {
  border: 2px dashed #000000;
}

h2 {
  color: #070;
}