.menu {
  width: 100%;
  min-height: 85vh;
  background-color: #f5efed;
  display: flex;
  justify-items: center;
  padding: 2%;
  gap: 1rem;
  text-align: cetner;
}

.bbqHours {
  width: 90%;
  height: max-content;
  text-align:center;
  border: orange solid 2px;
}

.bbqMenu {
  width: 90%;
  height: max-content;
  border: red solid 2px;
  text-align: center;
}


div.entreesBlock{
  position: fixed;
  background-color: #3993DD;
  color: black;
  /*top: 200px;*/
  top: 100px;
  right: 230px;
  height: 25px;
  width: 80px;
  display: flex;
  border-radius: 15%;
  justify-content: center;
}

div.sidesBlock{
  /*position: fixed;*/
  position: fixed;
  background-color: #3993DD;
  color: black;
  top: 400px;
  right: 50px;
  height: 25px;
  width: 80px;
  display: flex;
  border-radius: 15%;
  justify-content: center;
}



.entreesFormat{
  font-size: 15px;
  background-color: pink;
  color: black;
  bottom: 10px;
  top: 250px;
  right: 250px;
  width: 200px;
  border: 1px solid black;
  padding: 10px;
}

.sidesFormat{
  font-size: 15px;
  background-color: lightblue;
  color: black;
  bottom: 10px;
  top: 200px;
  left: 250px;
  width: 200px;
}

.brisketImage {
  position: fixed;
  right: 30px;
  bottom: 500px;
  width: 100px;
  height: 92px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  border: 2px solid black;
}

.brisketImage:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.ribsImage{
  position: fixed;
  top: 250px;
  right: 30px;
  width: 100px;
  height: 92px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  border: 2px solid black;
}

.coleslawImage{
  position: fixed;
  right: 270px;
  bottom: 200px;
  width: 100px;
  height: 92px;
  border-radius: 50%;
  float: left;
  margin-left: 20px; 
  border: 2px solid black;
}