.menu {
  position: absolute;
  width: 100%;
  min-height: 85vh;
  height: 100%;
  background-color: #f5efed;
  display: flex;
  justify-items: center;
  padding: 2%;
  gap: 1rem;
  text-align: cetner;
  font-family: "Miriam Libre", unset;
  /*border: 5px solid green; */

}


/*  originall width: 90% */ 
.bbqHours {
  width: 70%;
  /*height: max-content;*/
  /*height: 100%; */
  text-align:center;
  border: orange solid 2px;
}

.bbqMenu {
  position: relative;
  width: 90%;
  /* height: max-content; */
  border: red solid 2px;
  text-align: center;
  font-size: 30px;
}

#bbqBold{
  font-weight: 700;
}

/*  original entrees block
div.entreesBlock{
  position: fixed;
  background-color: #3993DD;
  color: black;
  top: 100px;
  right: 230px;
  height: 25px;
  width: 80px;
  display: flex;
  border-radius: 15%;
  justify-content: center;
}
*/ 

.menuHeader{
  position: relative;
  background-color: #3993DD;
  color: black;
  width: 85px;
  height: 25px;
  border-radius: 15%;
  justify-content: center;
  font-size: 18px;
 
}

#entreesBlock{
  position: absolute;
  top: 80px;
  left: 150px;
  z-index: 1;
}

#sidesBlock{
  position: absolute;
  bottom: 170px;
  right: 140px;
}


/*
div.sidesBlock{
  position: fixed;
  background-color: #3993DD;
  color: black;
  top: 400px;
  right: 50px;
  height: 25px;
  width: 80px;
  display: flex;
  border-radius: 15%;
  justify-content: center;
}
*/

.entreesGroup{
  background-color: white;
  height: max-content;
}


.entreesText{
  position: absolute;
  font-size: 15px;
  /*background-color: pink;*/
  color: black;
  top: 100px;
  left: 90px;
  width: 200px;
  /*border: 1px solid black; */
  padding: 10px;
}


/* position:absolute will see which is the closest relative element and then calculates according to that*/
.sidesText{
  height: max-content;
  position: absolute;
  font-size: 15px;
  /*background-color: lightblue; */
  color: black;
  bottom: 120px;
  right: 80px;
  width: 200px;
}


/* IMAGES */

.brisketImage {
  position: absolute;
  right: 100px;
  top: 50px; 
  /*
  width: 100px;  
  height: 92px;  have them 8px difference
  */  
  width: 150px;
  height: 142px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  border: 2px solid black;
  z-index: 1;
}


.brisketImage:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.ribsImage{
  position: absolute;
  top: 210px;
  right: 100px;
  width: 150px;
  height: 142px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  border: 2px solid black;
  z-index: 1;
}

.coleslawImage{
  position: absolute;
  left: 100px;
  bottom: 90px;
  width: 140px;
  height: 132px;
  border-radius: 50%;
  float: left;
  margin-left: 20px; 
  border: 2px solid black;
  z-index: 1;
}

/*  LINES FOR MENU DESIGN */
.lines{
 /* position: fixed; */
  width: 15%;
  margin: 1.5rem 0;
  border-top: 2px solid black;
  border-bottom: none;
}

#line1{
  position: absolute;
  left: 230px;
  top: 68px;
  /*width: 15%;*/
  width: 400px;
  margin: 1.5rem 0;
  border-top: 2px solid black;
  border-bottom: none;
  z-index: -0.5;
}

#line2{
  position: absolute;
  left: 230px;
  bottom: 158px;
  /*width: 15%;*/
  width: 400px;
  margin: 1.5rem 0;
  border-top: 2px solid black;
  border-bottom: none;
  z-index: -0.5;
}


#verticalLine{
  position: absolute;
  top: 100px;
  right: 65px;
  height: 100px;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  border-right: none;
  z-index: -0.5;
}


.testingBlock{
  width: 80px;
  height: 25px;
  background-color: #6ca16c;
  border-radius: 50%;
}

#sided{
  position: relative;
  right: 300px;
}


/*
      <img src="src/pages/Menu/images/brisket.jpg" alt="BBQ" className="brisketImage"/>
        <img src="src/pages/Menu/images/ribs.jpg" alt="BBQ" className="ribsImage"/>
        <img src="src/pages/Menu/images/slaw.jpg" alt="BBQ" className="coleslawImage"/>


*/